
<h1>Account Holder</h1>
<fieldset>
    <legend>Details</legend>
    <p>
        Id:
        {{AccountHolder.id}}
    </p>
    <p>
        Name:
        {{AccountHolder.accountName}}
    </p>
    <p>
        Address:
        {{AccountHolder.accountHolderAddress}}
    </p>
    <p>
        Gender:
        {{AccountHolder.accountHolderGender}}
    </p>
    <p>
        Mobile Number:
        {{AccountHolder.mobileNo}}
    </p>
    <p>
        Birth Date:
        {{AccountHolder.birthDate}}
    </p>
    <p>
        Anniversary Date:
        {{AccountHolder.anniversaryDate}}
    </p>
</fieldset>

<td><a routerLinkActive="active" routerLink="/">Back</a></td>
